* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: darkslategray;
}

h1 {
  font-family: "Press Start 2P";
  font-size: 1.5rem;
  text-align: center;
}

.grid-container {
  display: grid;
  height: 25rem;
  width: 25rem;
  margin: 1.2rem auto;
  box-shadow: 0 5px 20px 5px rgba(18, 31, 31, 0.646);
}

button {
  padding: 0.6rem;
  border: 1.2px solid white;
  background-color: transparent;
  font-family: "play";
  font-size: 1rem;
}

button:hover,
button:focus {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.192);
}

.controls {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
